---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import HorizontalLine from "../components/HorizontalLine.astro";
import SectionSocialIcons from "../components/SectionSocialIcona.astro";
import SectionButtonsFirst from "../components/SectionButtonsFirst.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import ProjectsInverse from "../components/Projects_Inverse.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Mi Portfolio</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Navbar />
    <main>
      <section id="first">
        <SectionSocialIcons />
        <section id="hero">
          <h2>Hola, soy</h2>
          <h1 color="">Arturo Pastor</h1>
          <p>Software Engineer</p>
          <SectionButtonsFirst />
        </section>
      </section>
      <HorizontalLine />
      <About />

      <HorizontalLine />
      <div id="third">
        <h2>Mis proyectos</h2>
        <h3>Algunos de mis proyectos</h3>
      </div>

      <Projects
        title="Clikk - una aplicación para gestionar grupos de amigos "
        img="../../public/Diseño sin título.png"
        description={`Clikk es una aplicación social para conocer personas y crear grupos de amigos con intereses en común. Incluye chat en tiempo real mediante WebSockets, notificaciones por correo electrónico y un sistema de suscripción premium.`}
        tecno={["HTML", "CSS", "JavaScript", "Nodejs", "Express", "MongoDB"]}
        github="https://github.com/ArthurDev123/Clikk-frontend"
        link="https://clikkofficial.netlify.app/"
      />

      <ProjectsInverse />
      <Projects
        title="Mi Portfolio "
        img="../../public/miportfolio.png"
        description={`Portfolio personal desarrollado con Astro para lograr un sitio rápido y optimizado.
Incluye una landing page responsive, navegación sencilla y componentes reutilizables.
El diseño está hecho con HTML, CSS y Flexbox, acompañado de efectos visuales como gradientes animados y un fondo dinámico de estrellas.
También integré iconos dinámicos y secciones modulares para mostrar mis proyectos de forma clara y escalable.`}
        tecno={["HTML", "CSS", "JavaScript", "Astro", "SCSS"]}
        github="https://github.com/ArthurDev123/mi-portfolio"
        link="https://clikkofficial.netlify.app/"
      />
    </main>
  </body>
</html>

<section id="third"></section>
<section id="contact"></section>

<Background />

<style>
  #first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    flex: 1;
  }
  #hero {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5.5rem;
  }

  #hero h2 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
  }
  h1 {
    margin: 0;
    font-size: 7.5rem;
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #00f0ff, #ff6ec4);
    background-size: 800% 800%; /* hace que el gradiente pueda moverse */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* esencial para ver el gradiente en el texto */
    animation: gradientMove 8s ease infinite;
  }
  #hero p {
    margin: 0;
    font-weight: bold;
    font-size: 1.8rem;
  }

  p {
    margin-top: 50px;
    font-size: 1.3rem;
  }
  #third {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #third h2 {
    margin: 0;
    font-size: 2.2rem;
  }
  #third h3 {
    margin: 0;
    font-weight: 400;
    color: #d8d8d8;
    font-size: 1rem;
  }
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
