<section id="buttons">
  <button
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      fill="currentColor"
      class="bi bi-send"
      viewBox="0 0 16 13"
    >
      <path
        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
      ></path>
    </svg> Contactame</button
  >
  <a href="../../public/Copia de Black And White Minimalist Professional Resume A4.pdf" download
    ><button
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="currentColor"
        class="bi bi-download"
        viewBox="0 0 16 16"
      >
        <path
          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
        ></path>

        <path
          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
        ></path>
      </svg> Descargar CV</button
    ></a
  >
</section>
<style>
  #buttons {
    margin-top: 20px;
  }
  button {
    padding: 24px;
    margin: 5px;
    background-color: #604a84;
    border-style: none;
    border-radius: 2%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  button:hover {
    transform: scale(1.1);
  }
</style>
